
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transform-origin: center center;
  outline: 0;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  appearance: none;
}
::selection {
  background-color: black;
  color: white;
}
html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  background-color:#FFF;
  display: inherit;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.image-container {
  position: relative;

  .progress-scan {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba($gray, 0.5);
    transition: height 0.2s ease;
  }
}

.progress-bar {
  transition-duration: .2s;
}

.loader-container {
  display: none;

  .progress {
    height: 20px;
  }

  .is-loading & {
    display: block;
  }
}

.wrapper {
  max-width: 500px;
  margin: 50px auto;
}

.image-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.hidden {
    display: none;
  }

  #display-image {
    max-width: 100%;
    height: auto;
    border: 1px solid rgba($gray, 0.2);
    margin: 0 auto;
  }
}

#canvas,
#analyse-image {
  display: none;
}

.resultats {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 100px;

  li {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    margin: 0 10px 10px 0;
  }

  .color-container {
    position: relative;
    z-index: 1;
    margin-right: 10px;
    border: 1px solid rgba($gray, 0.2);

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('./assets/bg-color.jpg');
    }

    .color {
      height: $color-size;
      width: $color-size;
      display: block;
    }

    &:hover .color-text {
      visibility: visible;
      opacity: 1;
    }

    .color-text {
      $background-color: $gray;
      $text-color: $white;
      visibility: hidden;
      width: 160px;
      background-color: $background-color;
      color: $text-color;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity $transition-duration ease;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $background-color transparent transparent transparent;
      }
    }
  }
}
